.support {

    &-inner {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 25%;
       @media (max-width:768px) {
            transform: translate(0, -50%);
            left: 10px;
            width: 90%;
        }
    }

  position: relative;
  img {
    height:440px;
    object-fit: cover;
    filter: brightness(0.5);
    @media (max-width:768px) {
        height:240px;
    }
  }

  h1 {
    font-weight: 900;
    color: white;
    font-size: 35px;
    line-height: 45px;
    @media (max-width:768px) {
       line-height: normal;
       font-size: 25px;
    }
  }
  p {
    
    font-weight: 600;
    color: white;
    font-size: 20px;
    line-height: 45px;
    @media (max-width:768px) {
        line-height: normal;
        font-size: 18px;
     }
  }
}

.faq-img {
    position: relative;
}