<div class="container-fluid">
    <div class="py-5 navbar container">
      <span class="logo">SUSTAINABLE<br>transportation</span>
      <ul class="d-flex m-0 gap-5 nav-items">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/support" routerLinkActive="active">Support</a></li>
      </ul>
    </div>
  </div>
  