.container-fluid {
  background-color: #d9d9d9;
}
.navbar {
  .nav-items {
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: black;
        font-size: 20px;
      }

     .active {
        font-weight: bold;
     }
    }
  }
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}