<footer class="mt-md-5 py-5 footer container-fluid">
  <div class="d-flex gap-2 flex-column align-items-center justify-content-center container">
    <div class="social-media">
        <img [src]="env.socialIconsPath + 'facebook.svg'" alt="facebook">
        <img [src]="env.socialIconsPath + 'x.svg'" alt="twitter">
        <img [src]="env.socialIconsPath + 'instagram.svg'" alt="instagram">
    </div>
    <div class="text-center">
        Copyright &copy; 2024 Sustainable Transportation <br> All Rights Reserved.
    </div>
    <div class="line">
        <div class="inner-line">

        </div>
    </div>
    <div class="logo text-center">
        <a routerLink="/">SUSTAINABLE<br>transportation</a>
    </div>
  </div>
</footer>
