.back {
  background-image: url(../../assets/images/home/rectangle.svg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size:cover;
  height: 370px;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width:768px) {
    background-position: unset; 
    background-repeat: repeat;
    background-size: contain;
    height: 270px;
    background-attachment: local;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    color: white;
    font-size: 60px;
    width: 50%;
    text-align: center;
    @media (max-width:768px) {
      width: 95%;
      font-size: 35px;
      margin-bottom: 0;
    }
  }
}
